body {
    background-image:url("Images/Other/back.png");
    /*overflow:hidden;*/
}

div.mycontainer div.deck-editor div.deckOutput{
    width:100%;
    overflow:auto;
    display:grid;
    grid-template-columns: 75% 25%;
}

div.deckSlot {
    display:flex;
    flex-direction:row;
    border-radius: 15px;
}

div.tower {
    background-color:#e74a2b;
}

div.bloon {
    background-color:#398fe3;
}

div.power {
    background-color:#9e6dd6;
}

@font-face {
    font-family: 'bloons';
    src: url(Images/Other/BloonsTD-Regular.ttf);
    font-weight: normal;
	font-style: normal;
}

p.slotName{
    font-family: 'bloons';
    color:white;
}
p.slotAmount{
    font-family: 'bloons';
    color:white;
}

#cards{
    width:75%;
    float:left;
}

#deck{
    width:25%;
    height:100vh;
    float:left;
    overflow-y:scroll;
}

#cardPics {
    width:75%;
    float:left;
    display:grid;
    grid-template-columns: repeat(10, 10%);
    gap:0px;
}

#outputOptions {
    width:25%;
    height:100vh;
    float:left;
}

img.card{
    width:19%;
    height:auto; 
}

#right-arrow {
    float:right;
}

button.plus {
    background-color:#02f900;
    margin-left:auto;
    border-radius: 50%;
    height:100%;
    width:auto;
    aspect-ratio:1/1;
}

button.minus {
    background-color:#eb0e54;
    border-radius: 50%;
    height:100%;
    width:auto;
    aspect-ratio:1/1;
}

.hero {
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

#heroSelect {
    margin-right: 10px;
}

div.deckSlot {
    height:6%
}

img.cardPicture{
    width:105%;
    height:auto;
    margin:0px;
}

div.cardPictureSlot{
    width:100%
}