body {
    background-image:url("Images/Other/back.png");
}

div.mycontainer {
    width:100%;
    overflow:auto;
}

div.deckSlot {
    display:flex;
    flex-direction:row;
}

div.tower {
    background-color:red;
}

div.bloon {
    background-color:skyblue;
}

div.power {
    background-color:purple;
}

p.slotName {
    color:white;
}

#cards {
    width:75%;
    float:left;
}

#deck {
    width:25%;
    float:left;
}

img.card{
    width:19%;
    height:auto;
    
}

#right-arrow {
    float:right;
}

button.plus {
    background-color:greenyellow;
    margin-left:auto;
}

button.minus {
    background-color:maroon;
}